FastAPI
uvicorn
aiohttp
pydantic
python-dotenv
pandas
plotly
numpy
umap-learn
requests
gtts
newsapi-python
groq
cachetools
faiss-cpu
sentence-transformers
openai-whisper
langchain
langchain-community
langchain-huggingface
langgraph
psutil